__pycache__/
*.py[cod]
*$py.class

*.so

venv/
myvenv/
env/
ENV/

*.log

db.sqlite3

media/

staticfiles/

.env
.env.*

*.sql

.vscode/
.idea/

.DS_Store
Thumbs.db

.pytest_cache/

.coverage
htmlcov/

build/
dist/
*.egg-info/

.ipynb_checkpoints/

*.tmp
*.bak
*.swp

*.png.tmp
*.jpg.tmp

node_modules/
media.zip
wheelverse_backup.dump
*.sql
media/
